<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidepanel" [ngStyle]="{
            'left': graph.activeNode == null ? '-220px' : '0px'
            }">
            <ng-template [ngIf]="graph.activeNode != null">
                <div class="header-wrapper">
                    <span class="header">{{graph.activeNode.nodeName}}</span>
                    <span class="closeButton" (click)="closeSidePanel()">X</span>
                </div>
                <div class="description-header">Описание:</div>
                <div class="description-wrapper">{{graph.activeNode.description}}</div>
                <button [ngClass]="buttonClassSelector()" (click)="toggleSelectedNode()">{{graph.activeNode.isCompleted === true ? "Undone" : "Done"}}</button>
            </ng-template>
        </div>
        <div class="canvas-wrapper">
            <canvas id="canvas" width="512" height="512"></canvas>
        </div>
    </div>
</body>
</html>
