body {
    overflow: hidden;
}
  
.wrapper {
    position: relative;
    overflow: hidden;
}

.canvas-wrapper {
    height: 100vh;
    width: 100vw;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.sidepanel {
    z-index: 1;
    position: fixed; /* положение */
    top: 100px; /* отступ сверху */
    background: #505050;
    background-color: rgb(80, 80, 80); /* цвет фона */
    color: #bbb; /* цвет текста */
    width: 200px; /* ширина блока */
    height: 80vh; /* высота блока */
    padding: 10px; /* отступы от границ внутри блока */
    text-align: left; /* выравнивание текста */
  
    -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  
    -webkit-border-radius: 0 5px 5px 0; /* закругление границ для всех браузеров*/
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.sideMenu {
    z-index: 1;
    position: fixed; /* положение */
    top: 100px; /* отступ сверху */
    background: #505050;
    background-color: rgb(80, 80, 80); /* цвет фона */
    color: #bbb; /* цвет текста */
    width: 200px; /* ширина блока */
    height: 80vh; /* высота блока */
    padding: 10px; /* отступы от границ внутри блока */
    text-align: left; /* выравнивание текста */
  
    -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  
    -webkit-border-radius: 5px 0 0 5px; /* закругление границ для всех браузеров*/
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.menuButton{
    left:-55px;
    top:-10px;
}

.closeButton {
    float: right;
    text-shadow: none !important;
    box-shadow: none !important;
    outline: 0;
    cursor: pointer;
}

.header-wrapper{
    margin-bottom: 5px;
}
.header{
    font-size: 2.5em;
}

.description-header{
    font-size: 1.7em;
    margin-bottom: 3px;
}

.description-wrapper{
    font-family: 'ComicSans';
    overflow-y: auto;
    //height: 70.5vh;
    max-height: 88%;
}

.toggleButton{
    margin-top: 5px;
    width: 195px;
    height: 30px;
}

/* width */
::-webkit-scrollbar {
    background-color: rgb(80, 80, 80);
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 4px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #333;
  }