<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidepannel">
            <div class="header-wrapper">some text</div>
            <div class="text-wrapper">some text</div>
            <div class="button-wrapper">some text</div>
        </div>
        <div class="canvas-wrapper">
            <canvas id="canvas" width="512" height="512"></canvas>
        </div>
    </div>
</body>
</html>