<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidepanel" [ngStyle]="{
            'left': graph.activeNode == null ? '-220px' : '0px'
            }">
            <ng-template [ngIf]="graph.activeNode != null">
                <div class="header-wrapper">
                    <span class="header">{{graph.activeNode.node.nodeName}}</span>
                    <button mat-mini-fab color="primary" class="closeButton" (click)="closeSidePanel()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <div class="description-header">Описание:</div>
                <div class="description-wrapper">{{graph.activeNode.node.description}}</div>
                <button mat-raised-button [color]="graph.activeNode.node.isCompleted === true ? 'warn' : 'accent'" (click)="toggleSelectedNode()" class="toggleButton">{{graph.activeNode.node.isCompleted === true ? "Undone" : "Done"}}</button>
            </ng-template>
        </div>
        <div class="sideMenu" [ngStyle]="{
            'left': menuPanelPos
            }">
            <button mat-mini-fab color="accent" aria-label="Example icon button with a menu icon" class="menuButton" (click)="toggleMenuPanel()">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-nav-list>
                <a mat-list-item routerLink="/account">Личный кабинет</a>
                <a mat-list-item routerLink="/browser">Найти дерево</a>
                <a mat-list-item routerLink="">Выйти</a>
            </mat-nav-list>
        </div>
        <div class="canvas-wrapper">
            <canvas id="canvas" width="512" height="512"></canvas>
        </div>
    </div>
</body>
</html>
