.formWrapper{
    margin: auto;
    width: 200px;
    text-align: center;
}

.buttonLogin{
    margin-right: 10px;
}

.buttonWrapper{
    text-align: left;
}

.headerWrapper{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 20px;
}

.header{
    font-size: 45px;
}